@charset "utf-8";

table {
	
	/*REF http://www.w3schools.com/css/css_table.asp*/
	border: 1px solid black;
	
}

td {
	
	/*REF http://www.w3schools.com/css/css_table.asp*/
	border: 1px solid black;
	
}

td.text {
	
	/*REF http://www.w3schools.com/css/css_table.asp*/
	border: 3px solid blue;
	
}
